    <footer class="footer bg-light py-4 mt-2 border-top">
        <div class="container">
           <div class="row">
            <div class="col-md-4">
                <strong>Contact</strong>
                <ul>
					<li>E-mail: <a href="mailto:contact@semantica.cz">contact@semantica.cz</a></li>
					<li id="social-icons"><a href="https://www.facebook.com/semantica.cz"><img src="/images/facebook.jpg" alt="Facebook Semantica.cz" title="Facebook Semantica.cz" height="30" width="30"/></a>
					<a href="https://twitter.com/Semantica_cz"><img src="/images/twitter.jpg" alt="Twitter Semantica.cz" title="Twitter Semantica.cz" height="30" width="30"/></a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <strong>Links</strong>
                <ul>
                    <li><a href="https://github.com/semanticacz/semanticacz.github.io">Web on GitHub</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <strong>Formalities</strong>
                <ul>
					<li>HQ: Prague, Czechia</li>
					<li>IČO: <a href="https://or.justice.cz/ias/ui/rejstrik-firma.vysledky?subjektId=272095&typ=PLATNY">014 75 461</a></li>
					<li>Bank account: 2600395957/2010 (Fio banka, a.s.)</li>
                </ul>
            </div>
           </div>
        </div>
    </footer>